<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Get</title>
</head>

<body>
    <h1>Get Categories with ajax</h1>
    <hr/>
    <button onclick="getCategories()">Show Categoty</button>
    <button onclick="clearCategories()">Clear Category</button>

    <dir id="container">

    </dir>
    <script>
        function getCategories() {
            var request = new XMLHttpRequest();
            request.open("GET", "http://127.0.0.1:3000/api/Categories");
            request.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    generateCategoriesBox(JSON.parse(this.responseText))
                }

            }
            request.send();
        }

        function clearCategories() {
            document.getElementById("container").innerHTML = "";
        }

        function generateCategoriesBox(data) {
            for (let i = 0; i < data.length; i++) {
                createBox(data[i]);
                // console.log(data[i]);
            }

        }

        function createBox(category) {
            let box = document.createElement('div');
            box.className = 'category-box';
            let id = document.createElement('h4');
            id.innerText = "Id:" + category.categoryId;



            let title = document.createElement("h3");
            title.innerText = category.categoryName;

            let description = document.createElement("p");
            description.innerText = category.description;

            box.appendChild(id)
            box.appendChild(title);
            box.appendChild(description);
            document.getElementById("container").appendChild(box)
        }
    </script>
</body>


</html>